/*
	Roboto Thin
*/
@font-face {
    font-family: 'roboto_thin';
    src: url('../fonts/roboto-thin.ttf');
}

/*
	Roboto Light
*/
@font-face {
    font-family: 'roboto_light';
    src: url('../fonts/roboto-light.ttf');
}

/*
	Roboto Regular
*/
@font-face {
    font-family: 'roboto_regular';
    src: url('../fonts/roboto-regular.ttf');
}

/*
	Roboto Bold
*/
@font-face {
    font-family: 'roboto_bold';
    src: url('../fonts/roboto-bold.ttf');
}

/*
	Roboto Italic
*/
@font-face {
    font-family: 'roboto_italic';
    src: url('../fonts/roboto-italic.ttf');
}

/*
	Segoe UI Bold
*/
@font-face {
    font-family: 'segoe-ui_bold';
    src: url('../fonts/segoe-ui-bold.ttf');
}