/*
	.ml-main__content-datepicker
*/

.ml-main__content-datepicker-wrap {
    display: none;
    position: absolute;
    top: 30px;
    left: 290px;
    padding: 10px 15px 10px 15px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 0 20px #C6CDD9;
    z-index: 3;
}

.ml-main__content-search-form-filter .ml-main__content-datepicker-wrap {
    top: 35px;
    left: 320px;
}

.ml-main__content-datepicker {

}

.ui-datepicker {
    width: 240px;
}

.ui-datepicker-header {
    position: relative;
    height: 27px;
    border-bottom: 1px solid #D4D4D4;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: 0;
    width: 10px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    background-image: url('../../img/icon-main-content-datepicker-prev.svg');
}

.ui-datepicker-next {
    right: 0;
    background-image: url('../../img/icon-main-content-datepicker-next.svg');
}

.ui-datepicker-title {
    color: #49546C;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

table.ui-datepicker-calendar {
    width: 240px;
    text-align: center;
}

.ui-datepicker-calendar thead {
    height: 27px;
    color: #A7A7A7;
    font-size: 13px;
    border-bottom: 1px solid #D4D4D4;
}

.ui-datepicker-calendar thead th {
    text-align: center;
}

.ui-datepicker-calendar tbody {
    font-size: 15px;
    line-height: 28px;
}

.ui-datepicker-calendar tbody td {
    border-radius: 3px;
    cursor: pointer;
}

.ui-datepicker-calendar tbody td:hover {

    background-color: #4D77B7;
}

.ui-datepicker-calendar tbody td:hover a {
    color: #FFFFFF;
}

.ui-datepicker-calendar tbody td a {
    color: #49546C;
}

.ui-datepicker-calendar tbody td a:hover {
    text-decoration: none;
}

.ui-datepicker-today {

}

.ui-datepicker-today a {
    text-decoration: underline;
}

.ui-datepicker-calendar tbody td.ui-datepicker-other-month {

}

.ui-datepicker-calendar tbody td.ui-datepicker-other-month span {
    color: #A7A7A7;
}

.ui-datepicker-calendar tbody td.ui-datepicker-other-month:hover {
    background-color: inherit;
}

.ui-datepicker-current-day {
    background-color: #5E90DB;
}

.ui-datepicker-calendar tbody td.ui-datepicker-current-day a {
    color: #FFFFFF;
}
									