/*
	.ml-favorites
*/

.ml-favorites {
    display: none;
    float: left;
    width: 285px;
    margin: 0 20px 0 0;
    padding: 30px 20px 0 20px;
}

.m-favorites_edit {

}

.ml-favorites ul {

}

.ml-favorites__item {
    display: block;
    height: 34px;
    padding: 0 0 0 17px;
    color: #D4DDEC;
    font-size: 15px;
    line-height: 36px;
    background: url('../../img/icon-favorites-item.svg') left 13px no-repeat;
    cursor: pointer;
}

.ml-favorites__item:hover {
    color: #FFFFFF;
    background-image: url('../../img/icon-favorites-item-hover.svg');
}

.m-favorites_edit .ml-favorites__item {
    background-image: url('../../img/icon-favorites-item-edit.svg');
}

.m-favorites_edit .ml-favorites__item:hover {
    background-image: url('../../img/icon-favorites-item-edit-hover.svg');
}

.ml-favorites__button {
    width: 100%;
    height: 40px;
    margin: 16px 0 0 0;
    color: #D8E2FF;
    font-size: 15px;
    font-family: 'roboto_regular';
    line-height: 40px;
    background-color: #384878;
    border-radius: 4px;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
}

.ml-favorites__button:hover {
    opacity: 1;
}

.m-favorites__button_add-current {

}

.m-favorites_edit .m-favorites__button_add-current {
    opacity: 0.2;
    cursor: default;
}

.m-favorites__button_save {
    display: none;
}

.m-favorites_edit .m-favorites__button_save {
    display: block;
}

.m-favorites__button_edit {

}

.m-favorites_edit .m-favorites__button_edit {
    display: none;
}