/*
	.ml-list
*/

.ml-list {
    display: none;
    float: left;
    width: 285px;
    margin: 0 20px 0 0;
    padding: 10px 0 0 0;
    color: #D3DEFF;

}

.ml-list li {
    /*	-webkit-transition: all 3.5s ease;
        -moz-transition: all 3.5s ease;
        -o-transition: all 3.5s ease;
        transition: all 3.5s ease;*/
}

.ml-list ul {

}

.ml-list span:hover {
    color: #E8EEFF;
}

.ml-list__item {
    display: block;
    position: relative;
    min-height: 30px;
    padding: 0 0 0 25px;
}

.ml-list__item.m-list__item_subcats {
    background: url('../../img/icon-list-item.svg') 15px 12px no-repeat;
}

.ml-list__item.m-list__item_active {
    background: url('../../img/icon-list-item-selected.svg') 13px 14px no-repeat;
}

.ml-list__item-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 4px;
    opacity: 0.2;
}

.ml-list__item.m-list__item_active .ml-list__item-bg {
    display: block;
}

.ml-list__item-title {
    position: relative;
    font-size: 15px;
    line-height: 30px;
}

.ml-list__item.m-list__item_clicked .ml-list__item-title {
    color: #FFE29B;
    font-family: 'roboto_bold';
}

.ml-list__item.m-list__item_active .ml-list__item-title {
    background: url('../../img/icon-list-item-foldup.svg') 235px 8px no-repeat;
}

.ml-list__item-title span {
    cursor: pointer;
}

.ml-list__item-subcategories-lvl1 {
    display: none;
    position: relative;
}

.ml-list__item.m-list__item_active .ml-list__item-subcategories-lvl1 {
    display: block;
}

.ml-list__item-subcat-lvl1 {
    padding: 0 0 0 20px;
}

.ml-list__item-subcat-lvl1.m-list__item_subcats {
    background: url('../../img/icon-list-item.svg') 9px 12px no-repeat;
}

.ml-list__item-subcat-lvl1.m-list__item_active {
    background: url('../../img/icon-list-item-selected.svg') 7px 14px no-repeat;
}

.ml-list__item-subcat-lvl1-title {
    font-size: 15px;
    line-height: 30px;
}

.ml-list__item-subcat-lvl1.m-list__item_clicked .ml-list__item-subcat-lvl1-title {
    color: #FFE29B;
    font-family: 'roboto_bold';
}

.ml-list__item-subcat-lvl1-title span {
    cursor: pointer;
}

.ml-list__item-subcategories-lvl2 {
    display: none;
}

.ml-list__item-subcat-lvl1.m-list__item_active .ml-list__item-subcategories-lvl2 {
    display: block;
}

.ml-list__item-subcat-lvl2 {
    padding: 0 0 0 20px;
}

.ml-list__item-subcat-lvl2.m-list__item_subcats {
    background: url('../../img/icon-list-item.svg') 9px 12px no-repeat;
}

.ml-list__item-subcat-lvl2.m-list__item_active {
    background: url('../../img/icon-list-item-selected.svg') 7px 14px no-repeat;
}

.ml-list__item-subcat-lvl2-title {
    font-size: 15px;
    line-height: 30px;
}

.ml-list__item-subcat-lvl2.m-list__item_clicked .ml-list__item-subcat-lvl2-title {
    color: #FFE29B;
    font-family: 'roboto_bold';
}

.ml-list__item-subcat-lvl2-title span {
    cursor: pointer;
}

.ml-list__item-subcategories-lvl3 {
    display: none;
}

.ml-list__item-subcat-lvl2.m-list__item_active .ml-list__item-subcategories-lvl3 {
    display: block;
}

.ml-list__item-subcat-lvl3 {
    padding: 0 0 0 20px;
}

.ml-list__item-subcat-lvl3.m-list__item_subcats {
    background: url('../../img/icon-list-item.svg') 9px 7px no-repeat;
}

.ml-list__item-subcat-lvl3.m-list__item_active {
    background: url('../../img/icon-list-item-selected.svg') 7px 9px no-repeat;
}

.ml-list__item-subcat-lvl3-title {
    font-size: 13px;
    line-height: 21px;
}

.ml-list__item-subcat-lvl3.m-list__item_clicked .ml-list__item-subcat-lvl3-title {
    color: #FFE29B;
    font-family: 'roboto_bold';
}

.ml-list__item-subcat-lvl3-title span {
    cursor: pointer;
}

.ml-list__item-subcategories-lvl4 {
    display: none;
}

.ml-list__item-subcat-lvl3.m-list__item_active .ml-list__item-subcategories-lvl4 {
    display: block;
}

.ml-list__item-subcat-lvl4 {
    padding: 0 0 0 20px;
    font-size: 13px;
    line-height: 21px;
}

.ml-list__item-subcat-lvl4.m-list__item_subcats {
    background: url('../../img/icon-list-item.svg') 9px 7px no-repeat;
}

.ml-list__item-subcat-lvl4.m-list__item_clicked {
    color: #FFE29B;
    font-family: 'roboto_bold';
}

.ml-list__item-subcat-lvl4.m-list__item_active {
    background: url('../../img/icon-list-item-selected.svg') 7px 9px no-repeat;
}

.ml-list__item-subcat-lvl1 span {
    cursor: pointer;
}

.ml-list__item.m-list__item_clicked .ml-list__item-title span:hover,
.ml-list__item-subcat-lvl1.m-list__item_clicked .ml-list__item-subcat-lvl1-title span:hover,
.ml-list__item-subcat-lvl2.m-list__item_clicked .ml-list__item-subcat-lvl2-title span:hover,
.ml-list__item-subcat-lvl3.m-list__item_clicked .ml-list__item-subcat-lvl3-title span:hover {
    color: #FFEAB5;
}
