/*
	.ml-main
*/

.ml-main
	{
	border-radius: 4px;
	overflow: hidden;
	}
	
	.ml-main__header
		{
		position: relative;
		height: 40px;
		}
		
		.m-main__header_breadcrumbs
			{
			height: 40px;
			}
		
		.ml-main__header-bg
			{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #EAF0FF;
			opacity: 0.2;
			}
	
	.ml-main__content
		{
		position: relative;
		padding: 20px 20px 68px 20px;
		background-color: #FFFFFF;
		}
		
			.ml-main__content-title
				{
				float: left;
				padding: 0 0 0 75px;
				margin: 0 0 10px 0;
				background: url('../../img/icon-main-content-top-title.svg') left center no-repeat;
				background-size: 40px;
				cursor: pointer;
				}
				
				.ml-main__content-title-text
					{
					float: left;
					max-width: 350px;
					padding: 0 30px 0 0;
					color: #405FA8;
					font-size: 40px;
					font-family: 'roboto_thin';
					line-height: 40px;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					}
					
				.ml-main__content-title-items
					{
					float: left;
					height: 32px;
					margin: 8px 0 0 0;
					padding: 0 12px 0 12px;
					color: #567FD0;
					font-size: 16px;
					line-height: 32px;
					background-color: #EAF3FF;
					border-radius: 13px;
					}
					
			.ml-main__content-add-folder
				{
				float: right;
				height: 40px;
				border-radius: 4px;
				overflow: hidden;
				border-bottom: 1px solid #446F5F;
				cursor: pointer;
				}
				
				.ml-main__content-add-folder:active
					{
					margin: 21px 0 0 0;
					border-bottom: none;
					}
				
				.ml-main__content-add-folder-icon
					{
					float: left;
					width: 40px;
					height: 40px;
					background-color: #26A66A;
					background-image: url('../../img/icon-main-content-top-add.svg');
					background-position: center center;
					background-repeat: no-repeat;
					}
					
				.ml-main__content-add-folder-title
					{
					float: left;
					height: 40px;
					padding: 0 22px 0 22px;
					color: #FFFFFF;
					font-size: 15px;
					font-family: 'roboto_bold';
					line-height: 38px;
					background-color: #29B373;
					}
				
			.ml-main__content-actions
				{
				position: relative;
				float: right;
				width: 180px;
				height: 43px;
				margin: 0 0 0 20px;
				cursor: pointer;
				}
				
				.m-main__content-actions_object
					{
					margin-top: 0;
					margin-bottom: 16px;
					}
				
				.ml-main__content-actions-title
					{
					min-width: 163px;
					height: 40px;
					padding: 0 0 0 17px;
					color: #FFFFFF;
					font-size: 15px;
					font-family: 'roboto_bold';
					line-height: 38px;
					background: url('../../img/icon-main-content-top-actions.svg') 155px 18px no-repeat;
					background-color: #94A3C1;
					border-radius: 4px;
					border-bottom: 1px solid #565F6E;
					}
					
				.ml-main__content-actions-list
					{
					display: none;
					position: absolute;
					margin: 3px 0 0 0;
					padding: 6px 11px 6px 11px;
					background-color: #FFFFFF;
					border-radius: 4px;
					box-shadow: 0 0 12px -4px #1A2542;
					z-index: 2;
					}
					
					.ml-main__content-actions:hover .ml-main__content-actions-list
						{
						display: block;
						}
						
					.ml-main__content-actions-list li
						{
						display: block;
						height: 24px;
						padding: 0 0 0 23px;
						color: #2E4D9B;
						font-size: 14px;
						line-height: 24px;
						background-position: left center;
						background-repeat: no-repeat;
						}
						
						.m-main__content-actions-list_reinitial
							{
							background-image: url('../../img/icon-main-content-top-actions-list-reinitial.svg');
							}
							
						.m-main__content-actions-list_log
							{
							background-image: url('../../img/icon-main-content-top-actions-list-log.svg');
							}
							
						.m-main__content-actions-list_export
							{
							background-image: url('../../img/icon-main-content-top-actions-list-export.svg');
							}
							
			.ml-main__content-add
				{
				float: right;
				height: 40px;
				padding: 0 22px 0 22px;
				color: #FFFFFF;
				font-size: 15px;
				font-family: 'roboto_bold';
				line-height: 38px;
				background-color: #29B373;
				border-bottom: 1px solid #446F5F;
				border-radius: 4px;
				overflow: hidden;
				cursor: pointer;
				}
				
				.ml-main__content-add:active
					{
					margin: 21px 0 0 0;
					border-bottom: none;
					}
					
			.ml-main__content-edit
				{
				float: right;
				height: 40px;
				margin: 0 0 16px 0;
				padding: 0 22px 0 22px;
				color: #FFFFFF;
				font-size: 15px;
				font-family: 'roboto_bold';
				line-height: 38px;
				background-color: #29B373;
				border-bottom: 1px solid #446F5F;
				border-radius: 4px;
				overflow: hidden;
				cursor: pointer;
				}
				
				.ml-main__content-edit:active
					{
					margin: 3px 0 13px 0;
					border-bottom: none;
					}
				
			.ml-main__content-advanced-search
				{
				float: right;
				height: 40px;
				margin: 16px 20px 0 0;
				padding: 0 22px 0 22px;
				color: #FFFFFF;
				font-size: 15px;
				font-family: 'roboto_bold';
				line-height: 38px;
				background: url('../../img/icon-main-content-top-actions.svg') 155px 18px no-repeat;
				background-color: #94A3C1;
				border-radius: 4px;
				border-bottom: 1px solid #565F6E;
				cursor: pointer;
				}
				
				.ml-main__content-advanced-search:active
					{
					margin: 21px 20px 0 0;
					border-bottom: none;
					}
				
			.ml-main__content-search-page
				{
				float: right;
				height: 40px;
				margin: 0 20px 0 0;
				border: 1px solid #EAEBEF;
				border-radius: 4px;
				overflow: hidden;
				}
				
				.ml-main__content-search-page-icon
					{
					float: left;
					height: 40px;
					width: 39px;
					background-color: #EAEBEF;
					background-image: url('../../img/icon-main-content-top-search.svg');
					background-position: center center;
					background-repeat: no-repeat;
					}
					
				.ml-main__content-search-page input
					{
					display: block;
					float: left;
					width: 110px;
					height: 38px;
					padding: 0 5px 0 14px;
					color: #6F7C9B;
					font-size: 15px;
					font-family: 'roboto_bold';
					border: none;
					}
				
		.ml-main__content-delimiter
			{
			clear: both;
			width: 100%;
			height: 1px;
			margin: 0 0 30px 0;
			}
				
		.ml-main__content-logo
			{
			position: absolute;
			right: 0;
			bottom: 0;
			width: 165px;
			height: 68px;
			color: #999999;
			font-size: 10px;
			font-family: 'roboto_light';
			line-height: 66px;
			background: url('../../img/icon-main-content-logo.svg') 112px top no-repeat;
			}