.BreadcrumbsView {
    font-size: 11px;
    overflow: hidden;
    position: relative;
}

.BreadcrumbsView .container {
    width: 5000px;
}

.BreadcrumbsView .container > * {
    display: inline-block;
}

.BreadcrumbsView .crumb {
    margin: 4px;
    padding: 4px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

.BreadcrumbsView .crumb.active {
    font-weight: bold;
}

.BreadcrumbsView .crumb.ghost * {
    color: #afadb2;
}

.BreadcrumbsView .crumb.collapsed {
    width: 20px;
    overflow: hidden;
    vertical-align: bottom;
}

.BreadcrumbsView .crumb.collapsed > span {
    width: 1000px;
    display: inline-block;
}

.BreadcrumbsView .crumb a {
    color: black;
    text-decoration: none;
}
.BreadcrumbsView .crumb:hover a {
    text-decoration: underline;
}

.BreadcrumbsView > .shadow {
    position: absolute;
    right: 0;
    top:0;
    width:50px;
    background: linear-gradient(to right, rgba(0,0,0, 0), #FFF);
    height: 100%
}

.BreadcrumbsView .crumb .shadow {
    display: none;
}

.BreadcrumbsView .crumb.collapsed .shadow {
    display: block;
    position: absolute;
    z-index: 9999;
    background: linear-gradient(to right, rgba(0,0,0, 0), #FFF);;
    right:0px;
    top:0px;
    width:20px;
    height:100%;
}

