/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2013, 7:09:35 AM
    Author     : bugraozden
*/

.icon-select {
    width: 0px;
}

.icon-select .selected-box {

    position: relative;
    margin: 0px;
    padding: 0px;
    width: 36px; /* sil */
    height: 25px; /* sil */
    border: 1px solid #999999;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.icon-select .selected-box:hover {

    position: relative;
    margin: 0px;
    padding: 0px;
    width: 36px; /* sil */
    height: 25px; /* sil */
    border: 1px solid #000000;
    background-color: #FFFFFF;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.icon-select .selected-icon {

    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 24px; /* sil */
    height: 24px; /* sil */

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.icon-select .component-icon {
    position: absolute;
    bottom: 5px;
    right: 4px;
}

.icon-select .box {

    position: absolute;
    top: 0px;
    left: 35px;
    margin: 0px;
    padding: 0px;
    width: 500px; /* sil */
    height: 170px; /* sil */
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    overflow: auto;
    /*
    -webkit-overflow-scrolling: touch;
    */

}

.icon-select .icon {
    position: relative;
    margin: 5px 0px 0px 5px;
    padding: 0px;
    width: 48px; /* sil */
    height: 48px; /* sil */
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    overflow: hidden;
    float: left;
}

.icon-select .icon:hover {
    border: 1px solid #000000;
}

.icon-select .icon.selected {
    position: relative;
    margin: 5px 0px 0px 5px;
    padding: 0px;
    width: 48px; /* sil */
    height: 48px; /* sil */
    border: 1px solid #EEEEEE;
    background-color: #EEEEEE;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    overflow: hidden;
    float: left;
}