body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans'), local('PTSans'), url('../fonts/PT_Sans-Narrow-Web-Regular.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', Arial, sans;
}

.table {
    display: table;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
    vertical-align: top;
}

body.resize {
    cursor: col-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

footer {
    background-color: #221E1D;
    color: #ffffff;
}

header {
    border-bottom: 1px dashed black;
    width: 100%;
    height: 100px;
}

#navigation-container {
    /*
        position: fixed;

        z-index: 9999;
    */
    float: left;
    background: white;
}

.page {
    /*
        padding-top: 33px;
    */
}

#page {
    /*    border: 1px solid blue;*/
    padding: 0px;
}

.table-wrapper {
    /*    border: 1px solid red;*/
    padding: 0;
    margin: 0;
}

.content-control-wrapper {
    /*    border: Представление solid green;*/
}

.sidebar-wrapper {
    left: 0;
    top: 0;
    /*padding-top: 33px;*/
    background: #fffffe;
    /*position: fixed;*/
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    width: 250px;
    border-right: 2px solid #000000
}

.content-wrapper {
    width: 100%;
}

.sidebar-container {
    border: 1px solid red;
}

.content-container {
    border: 1px solid blue;
}

.panel {
    width: 200px;
    min-width: 3px;
    max-width: 400px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: table-cell;
    vertical-align: top;
}

.leftpanel {
    border-right: 2px solid black;
}

.rightpanel {
    border-left: 1px dashed black;
}

.content {
    height: 100%;
    min-width: 200px;
    display: table-cell;
    vertical-align: top;
}

.centered {
    text-align: center;
}

/*
    dropdowns
*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*
    Table header (order)
*/
.asc:before {
    content: "↓";
    margin-right: 10px;
}

.desc:before {
    content: "↑";
    margin-right: 10px;
}

.ASC:before {
    content: "↓";
    margin-right: 10px;
}

.DESC:before {
    content: "↑";
    margin-right: 10px;
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    opacity: 1.0;
    filter: alpha(opacity=50);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    color: #ffffff;
    border: 0;
    -webkit-appearance: none;
}

.modal-header {
    background: #333;
    color: #ffffff;
}

button.dialog-button {
    min-width: 70px;
}

.ml-navbar {
    border-bottom: 1px solid #CCCCCC;
}

.ml-navcontrol {
    padding: 10px;
}

.ml-details {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
}

.one_to_many_table,
.many_to_many_table {
    width: 100%;
    cursor: pointer;
}

.one_to_many_table tr:not(.selected) tr:nth-child(2n) {
    background-color: #f9f9f9;
}

.many_to_many_table tr:not(.selected) tr:nth-child(2n + 1) {
    background-color: #fcfcfc;
}

.one_to_many_table tr:hover,
.many_to_many_table tr:hover {
    background-color: #d9edf7;
}

.one_to_many_table th,
.many_to_many_table th {

}

.one_to_many_table th, .one_to_many_table td,
.many_to_many_table th, .one_to_many_table td {
    padding: 5px;
    text-align: center;
}

.one_to_many_table .selected,
.many_to_many_table .selected {
    background-color: #d9edf7;
}

.control-buttons {
    margin-top: 5px;
}

.control-panel {
    border-bottom: solid 1px #dedede;
    margin-bottom: 5px;
}

.input-title {
    text-align: left;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.newLine {
    clear: both;
}

.group.nav > li > a {
    padding: 5px 10px;
}

.group.nav-tabs > li.active > a {
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd #dddddd #fff #dddddd;
    text-decoration: none;
}

.highlight-button {
    color: #ffffff;
}

.active-button, .active-button:hover {
    color: #ffffff;
}

.inactive-button, .inactive-button:hover {
    color: #555;
}

.ml-mandatory-empty {
}

.ml-mandatory-red {
    border: 1px solid red;
}

.attr-list-title:before {
    height: 20px;
    width: 20px;
    content: '⊞';
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

.expanded-list.attr-list-title:before {
    content: '⊟';
}

.attr-list-preview-item {
    background-color: #808080;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    cursor: pointer;
    color: #ffffff;
    -moz-border-radius: 4px;
    border-radius: 4px;
    line-height: 22px;
    margin-right: 2px;
}

input[type='file'] {
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
    filter: alpha(opacity=0); /* IE lt 8 */
    -ms-filter: "alpha(opacity=0)"; /* IE 8 */
    -khtml-opacity: 0.0; /* Safari 1.x */
    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}

input[type=checkbox] {
    margin: 5px 0px;
    width: 20px;
}

.FilterPanelView.input-group {
    border-right: 1px solid #ccc;
    border-radius: 2px;
}

.stacktrace-header {
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.stacktrace-header:before {
    height: 20px;
    width: 20px;
    content: '⊞';
    font-size: 16px;
    font-weight: normal;
}

.stacktrace-header.expanded:before {
    content: '⊟';
}

.stacktrace-container {
    width: 100%;
    height: 200px;
    overflow: auto;
    border: 1px solid #333;
}

.modal-body {
    max-height: 300px;
    overflow: auto;
}

.dimmer {
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow: hidden;
}

/*** UtilsPageBlock ***/
.UtilsPageBlock button {
    margin: 3px;
}

/*** UtilsPageBlock ***/
.password-validation {
    font-size: 10px;
}

.valid:before {
    content: '✔';
    margin: 20px;
    color: green;
}

.invalid:before {
    content: '✖';
    margin: 20px;
    color: red;
}

.tree-button {
    position: absolute;
    top: 0;
    font-size: 16px;
    background-color: black;
    color: white;
    padding: 4px;
    opacity: 0;
    z-index: 10;
}

.tree-button:hover {
    opacity: 1;
}

.tree-button.expand {
    left: 0;
    display: none;
}

.tree-button.collapse {
    right: 0;
}

.jstree-default .jstree-themeicon-custom {
    background-size: 100% auto !important;
}

.clickable {
    cursor: pointer;
}

.one-many-text-container {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: auto;
}

.one-many-text-container.collapsed {
    height: 65px;
}

.one-many-text-control {
    float: right;
    color: #3071a9;
    cursor: pointer;
}

.one-many-text-control:hover {
    text-decoration: underline;
}

.iconselect {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 64px;
    height: 64px;
}

.iconURL {
    margin: 0 auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 68px;
    height: 68px;
}

.ml-mandatory-group > a {
    color: red !important;
    font-weight: bold;
}

/* bootstrap-table fix */
.fixed-table-toolbar .bars,
.fixed-table-toolbar .search,
.fixed-table-toolbar .columns {
    /* line-height: 34px; */
    line-height: 0 !important;
}

.select2holder {
    padding: 0;
}

.attr-label-container {
    height: 24px;
    line-height: 24px;
}

.page, .page > div {
    height: 100%;
}

.openLink {
    text-decoration: underline;
    cursor: pointer;
}

.logout-block {
    width: 250px;
    line-height: 55px;
    padding: 5px;
}

.search-choice-container > li {
    white-space: nowrap;
    padding: 5px;
    cursor: pointer;
}

.search-choice-container > li:hover {
    background-color: #3071a9;
    color: #ffffff;
}

.prefix {
    font-weight: bolder;
}

.query {
    text-decoration: underline;
}

.photomask{
    visibility: hidden;
    position: absolute;
    background: rgba(255, 255, 255, .8) url('../images/photomask.png') 50% 50% no-repeat;
    filter: alpha(opacity = 50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 999;
}

.jcrop-holder img {
    max-width: none !important;
}
