#fix-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
/*
  //  z-index: 9998;
*/
}

table#fix-panel {
    border-collapse: collapse;
}

table#fix-panel > tbody > tr > td {
    padding: 0;
    height: 100%;
}

#LEFT {
    width: 340px;
    height: 100%;
    overflow-y: auto;
}

.LEFT-holder, .CENTER-holder {
    border-top: 2px solid black;
}

#CENTER {
    height: 100%;
    overflow-y: auto;
}

#LEFT_RIGHT_border {
    cursor: col-resize;
    padding: 0 3px;
}

#LEFT_RIGHT_border > div {
    width: 2px;
    height: 100%;
    background: black;
}

