<div class="attr-label-container col-md-offset-<%=paramModel.get('offset')%> col-md-<%=paramModel.get('titleLength')%>">
    <b class="attr-label"><%=paramModel.get('name')%>:</b>
</div>
<input type="text"
       class="attrField col-md-<%=(paramModel.get('totalLength') - paramModel.get('titleLength') - paramModel.get('offset'))%>"
       value=""/>

