<a><%=model.get('blockInfo').buttonLabel%>
    <%if (model.get('blockInfo').buttonIcon){%>
        <i style="float: right;margin-top: 2px;" class="<%=model.get('blockInfo').buttonIcon%>"> </i>
    <%}%>
</a>