/*
	.ml-404
*/

.ml-404
	{
	padding: 50px 0 0 0;
	color: #405FA8;
	font-weight: bold;
	text-align: center;
	}
	
	.ml-404 div
		{
		font-size: 144px;
		}
		
	.ml-404 span
		{
		font-size: 24px;
		}