/*
	.ml-main__content-class
*/

.ml-main__content-class
	{
	margin: 0 0 -88px 0;
	}
	
	.ml-main__content-class-form
		{
		display: block;
		margin: 0 -20px 0 -20px;
		padding: 0 0 0 20px;
		}
		
		.ml-main__content-class-form-item
			{
		/*	clear: both;*/
			position: relative;
			height: 36px;
			margin: 0 0 5px 0;
			color: #485166;
			}
			
			.m-main__content-class-form-item_table,
			.m-main__content-class-form-item_table.col-md-12
				{
				height: auto;
				margin: 7px 0 20px -20px;
				padding: 10px 20px 15px 20px;
				background-color: #F0F6FB;
				}
				
			.m-main__content-class-form-item_date,
			.m-main__content-class-form-item_number
				{
				position: relative;
				}
				
			.m-main__content-class-form-item_tabs,
			.m-main__content-class-form-item_tabs.col-md-12
				{
				clear: both;
				position: relative;
				height: auto;
				width: 100%;
				padding-left: 0;
				padding-right: 20px;
				}
				
				.ml-main__content-class-form-item-tabs-top
					{
					height: 40px;
					}
					
					.ml-main__content-class-form-item-tabs-top-tab
						{
						float: left;
						height: 45px;
						margin: 0 10px 0 0;
						padding: 0 25px 0 25px;
						color: #4D77B7;
						font-size: 14px;
						font-family: 'roboto_bold';
						line-height: 40px;
						background-color: #DBE4F1;
						border-radius: 4px 4px 0 0;
						cursor: pointer;
						}
						
						.ml-main__content-class-form-item-tabs-top-tab:hover
							{
							background-color: #BEC7D4;
							}
						
						.m-main__content-class-form-item-tabs-top-tab_active
							{
							color: #FFFFFF;
							background-color: #2E4D9B;
							}
							
							.m-main__content-class-form-item-tabs-top-tab_active:hover
								{
								background-color: #4669C2;
								}
						
				.ml-main__content-class-form-item-tabs-bottom
					{
					position: relative;
					min-height: 120px;
					padding: 25px 20px 0 25px;
					background-color: #FFFFFF;
					border: 1px solid #DBE4F1;
					border-radius: 4px;
					}
					
					.ml-main__content-class-form-item-tabs-bottom-tab
						{
						display: none;
						}
						
						.ml-main__content-class-form-tab-item
							{
							position: relative;
							height: 36px;
							margin: 0 0 5px 0;
							color: #485166;
							}
			
			.ml-main__content-class-form-item-title
				{
				float: left;
				width: 154px;
				height: 30px;
				margin: 1px 0 1px 0;
				line-height: 30px;
				}
				
				.m-main__content-class-form-item_table .ml-main__content-class-form-item-title
					{
					margin: 0 0 14px 0;
					font-family: 'roboto_bold';
					}
				
				.ml-main__content-class-form-item-title span
					{
					display: none;
					color: #FF8C8C;
					}
					
					.m-main__content-class-form-item_required .ml-main__content-class-form-item-title span
						{
						display: inline;
						}
				
			.ml-main__content-class-form-item-input
				{
				display: block;
				float: left;
				width: 226px;
				height: 34px;
				padding: 0 10px 0 10px;
				border: 1px solid #E3EFF7;
				border-radius: 3px;
				}
				
				.m-main__content-class-form-item_date .ml-main__content-class-form-item-input
					{
					padding: 0 34px 0 10px;
					}
					
				.ml-main__content-class-form-item-date
					{
					position: absolute;
					display: block;
					top: 0;
					left: 344px;
					height: 34px;
					width: 34px;
					background: url('../../img/icon-main-content-class-date.svg') center center no-repeat;
					cursor: pointer;
					}
					
				.m-main__content-class-form-item_number .ml-main__content-class-form-item-input
					{
					width: 85px;
					text-align: center;
					}
					
				.ml-main__content-class-form-item-number-dec
					{
					position: absolute;
					display: block;
					top: 0;
					left: 160px;
					height: 34px;
					width: 8px;
					background: url('../../img/icon-main-content-class-number-dec.svg') center center no-repeat;
					cursor: pointer;
					}
					
				.ml-main__content-class-form-item-number-inc
					{
					position: absolute;
					display: block;
					top: 0;
					left: 225px;
					height: 34px;
					width: 8px;
					background: url('../../img/icon-main-content-class-number-inc.svg') center center no-repeat;
					cursor: pointer;
					}
				
			.ml-main__content-class-form-item-menu
				{
				float: left;
				height: 34px;
				}
				
				.ml-main__content-class-form-item-menu-item
					{
					float: left;
					width: 34px;
					height: 34px;
					margin: 0 4px 0 0;
					background-color: #E0EDF7;
					background-position: center center;
					background-repeat: no-repeat;
					border-radius: 3px;
					cursor: pointer;
					}
					
					.ml-main__content-class-form-item-menu-item:hover
						{
						background-color: #C8DAE8;
						}
					
					.m-main__content-class-form-item-menu-item_add
						{
						background-image: url('../../img/icon-main-content-class-menu-add.svg');
						}
						
					.m-main__content-class-form-item-menu-item_search
						{
						background-image: url('../../img/icon-main-content-class-menu-search.svg');
						}
						
					.m-main__content-class-form-item-menu-item_remove
						{
						background-image: url('../../img/icon-main-content-class-menu-remove.svg');
						}
						
					.m-main__content-class-form-item-menu-item_fold
						{
						background-image: url('../../img/icon-main-content-class-menu-fold.svg');
						}
						
			.ml-main__content-class-form-item-table-wrap
				{
				clear: both;
				position: relative;
				border: 1px solid #D0DCED;
				border-radius: 3px;
				}
				
				.ml-main__content-class-form-item-table-wrap .scroll-wrapper
					{
					margin: 0 0 -3px 0;
					}
					
					.ml-main__content-class-form-item-table-wrap .table.ml-main__content-table th:last-child
						{
						min-width: 685px;
						border-radius: 0 4px 0 0;
						}
						
			.ml-main__content-class-form-item-tag
				{
				float: left;
				height: 30px;
				margin: 2px 5px 5px 0;
				padding: 0 10px 0 10px;
				color: #e8efff;
				line-height: 30px;
				background-color: #6F7C9B;
				border-radius: 3px;
				cursor: pointer;
				}
				
				.ml-main__content-class-form-item-tag:hover
					{
					background-color: #7D8FBD;
					}
				
				.ml-main__content-class-form-item-tag span
					{
					display: block;
					float: left;
					margin: 0 10px 0 0;
					}
				
				.ml-main__content-class-form-item-tag-close
					{
					float: left;
					height: 100%;
					width: 12px;
					background: url('../../img/icon-main-content-class-tag-close.svg') center center no-repeat;
					}
					
			.ml-main__content-class-form-item-show-table
				{
				display: block;
				float: left;
				height: 30px;
				width: 30px;
				margin: 2px 5px 5px 0;
				background-image: url('../../img/icon-main-content-class-menu-fold.svg');
				background-position: center center;
				background-repeat: no-repeat;
				background-color: #E0EDF7;
				transform: rotate(180deg);
				border-radius: 3px;
				cursor: pointer;
				}
				
				.ml-main__content-class-form-item-show-table:hover
					{
					background-color: #C8DAE8;
					}
					
			.ml-main__content-class-form-item-message
				{
				display: none;
				position: absolute;
				top: 6px;
				left: 375px;
				height: 22px;
				padding: 0 10px 0 10px;
				color: #D94949;
				font-size: 12px;
				line-height: 22px;
				background: url('../../img/bg-main-content-class-message.svg') left center no-repeat;
				border-radius: 0 3px 3px 0;
				overflow: hidden;
				}
				
		.ml-main__content-class-form .col-md-4,
		.ml-main__content-class-form .col-md-6
			{
			padding-left: 0;
			padding-right: 0;
			}
			
		.ml-main__content-class-form-controls
			{
			clear: both;
			height: 76px;
			margin: 20px 0 20px -20px;
			padding: 10px 20px 15px 20px;
			background-color: #F0F6FB;
			}
			
			.ml-main__content-class-form-controls-submit
				{
				display: block;
				float: left;
				height: 40px;
				margin: 8px 0 0 0;
				padding: 0 18px 0 18px;
				color: #FFFFFF;
				font-size: 15px;
				font-family: 'roboto_bold';
				background-color: #29B473;
				border: none;
				border-bottom: 1px solid #184A45;
				border-radius: 4px;
				}
				
				.ml-main__content-class-form-controls-submit:hover
					{
					background-color: #2DC27C;
					}
				
			.ml-main__content-class-form-controls-reset
				{
				display: block;
				float: right;
				margin: 18px 0 0 0;
				color: #6F7C9B;
				font-size: 15px;
				font-family: 'roboto_bold';
				background-color: inherit;
				border: none;
				}
				
				.ml-main__content-class-form-controls-reset:hover
					{
					color: #798BB5;
					}
					
					