/*
	.ml-main__content-folders
*/

.ml-main__content-folders {
    padding: 0 0 0 0;
}

.ml-main__content-folder {
    float: left;
    height: 45px;
    width: 175px;
    padding-top: 80px;
    margin-bottom: 25px;
    color: #6E6E6E;
    font-size: 16px;
    /*background-image: url('../../img/icon-main-content-folders-folder.svg');*/
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    cursor: pointer;
}
.ml-main__common-folder{
    background-image: url('../../img/icon-main-content-folders-folder.svg');
    box-sizing: initial;
}


.ml-main__content-folder:hover {
    color: #8A8A8A;
}

.m-main__content-folder_type_documents {
    background-image: url('../../img/icon-main-content-folders-document.svg');
}

.m-main__content-folder_type_directories {
    background-image: url('../../img/icon-main-content-folders-directory.svg');
}

.ml-main__content-folder span {
    margin: 0 0 0 6px;
    color: #9CADCD;
}

.ml-main__content-folder:hover span {
    color: #A6BADE;
}