/*
	.ml-auth
*/

.ml-auth
	{
	color: #FFFFFF;
	font-family: 'roboto_regular';
	}
	
	.ml-auth__title
		{
		margin: 0 0 35px 0;
		color: #FFFFFF;
		text-align: center;
		}
		
		.ml-auth__title-text
			{
			font-size: 35px;
			font-family: 'segoe-ui_bold';
			line-height: 42px;
			}
			
		.ml-auth__title-version
			{
			font-size: 10px;
			font-family: 'roboto_light';
			line-height: 16px;
			opacity: 0.5;
			}
			
	.ml-auth-blocks-wrap
		{
		width: 480px;
		margin: 0 auto;
		overflow-x: hidden;
		box-shadow: 0 0 12px -4px #1A2542;
		border-radius: 8px;
		}
		
		.ml-auth-blocks-wrap-inner
			{
			width: 960px;
			}
/*
	.ml-auth__login
*/
	.ml-auth__login
		{
		display: block;
		float: left;
		position: relative;
		width: 400px;
		padding: 40px 40px 30px 40px;
		color: #FFFFFF;
		
		}
		
		.ml-auth__login-bg
			{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #1D2954;
			opacity: 0.4;
			border-radius: inherit;
			}
		
		.ml-auth__login-title
			{
			position: relative;
			font-size: 36px;
			font-family: 'roboto_light';
			line-height: 45px;
			text-align: center;
			}
			
		.ml-auth__login-name
			{
			position: relative;
			margin: 45px 0 0 0;
			}
			
			.ml-auth__login-name-input
				{
				display: block;
				width: 358px;
				height: 50px;
				padding: 0 20px 0 20px;
				color: #FFFFFF;
				font-size: 16px;
				background-color: inherit;
				border: 1px solid #98A4BD;
				border-radius: 5px;
				}
				
		.ml-auth__login-password
			{
			position: relative;
			}
			
			.ml-auth__login-password-input
				{
				display: block;
				width: 238px;
				height: 50px;
				margin: 22px 0 0 0;
				padding: 0 140px 0 20px;
				color: #FFFFFF;
				font-size: 16px;
				background-color: inherit;
				border: 1px solid #98A4BD;
				border-radius: 5px;
				}
				
			.ml-auth__login-password-show
				{
				position: absolute;
				top: 15px;
				left: 235px;
				height: 20px;
				width: 30px;
				background: url('../../img/icon-auth-show-password.svg') center center no-repeat;
				cursor: pointer;
				}
				
				.m-auth__login-password_visible
					{
					background: url('../../img/icon-auth-hide-password.svg') center center no-repeat;
					}
				
			.ml-auth__login-password-forgot
				{
				position: absolute;
				top: 0;
				right: 0;
				width: 120px;
				height: 50px;
				border-left: 1px solid #98A4BD;
				}
				
				a.ml-auth__login-password-forgot-link
					{
					display: block;
					color: #FFFFFF;
					font-size: 16px;
					line-height: 50px;
					text-align: center;
					text-decoration: none;
					}
					
					.ml-auth__login-password-forgot-link:active,
					.ml-auth__login-password-forgot-link:visited
						{
						color: #FFFFFF;
						}
						
					.ml-auth__login-password-forgot-link:hover
						{
						color: #FFFFFF;
						text-decoration: underline;
						
						}
					
		.ml-auth__login-button
			{
			display: block;
			position: relative;
			width: 100%;
			height: 50px;
			margin: 30px 0 0 0;
			color: #FFFFFF;
			font-size: 18px;
			font-family: 'roboto_bold';
			background-color: #29B473;
			border: none;
			border-bottom: 1px solid #184A45;
			border-radius: 5px;
			text-align: center;
			cursor: pointer;
			}
			
			.ml-auth__login-button:hover
				{
				background-color: #2DC27C;
				}
			
		.ml-auth__login-delimiter
			{
			position: relative;
			width: 100%;
			height: 1px;
			margin: 30px 0 30px 0;
			background-color: #8699BB;
			}
			
		.ml-auth__login-to-token
			{
			display: block;
			position: relative;
			width: 380px;
			height: 50px;
			padding: 0 0 0 20px;
			background-image: url('../../img/icon-auth-to-token.svg');
			background-position: 32px center;
			background-repeat: no-repeat;
			text-align: center;
			border-radius: 5px;
			text-decoration: none;
			}
			
			.ml-auth__login-to-token:hover,
			.ml-auth__token-to-login:focus
				{
				text-decoration: none;
				}
			
			.ml-auth__login-to-token-bg
				{
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: #2D4B80;
				opacity: 0.2;
				border-radius: inherit;
				}
				
				.ml-auth__login-to-token:hover .ml-auth__login-to-token-bg
					{
					background-color: #27416E;
					}
					
			.ml-auth__login-to-token-text
				{
				position: relative;
				color: #FFFFFF;
				font-size: 18px;
				font-family: 'roboto_bold';
				line-height: 50px;
				text-decoration: none;
				}
				
				.ml-auth__login-to-token-text:hover,
				.ml-auth__login-to-token-text:active,
				.ml-auth__login-to-token-text:visited
					{
					color: #FFFFFF;
					}
				
/*
	.ml-auth__token
*/
	.ml-auth__token
		{
		display: block;
		float: left;
		position: relative;
		width: 400px;
		padding: 62px 40px 30px 40px;
		color: #FFFFFF;
		}
		
		.ml-auth__token-bg
			{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #1D2954;
			opacity: 0.4;
			border-radius: inherit;
			}
		
		.ml-auth__token-title
			{
			position: relative;
			font-size: 36px;
			font-family: 'roboto_light';
			line-height: 50px;
			text-align: center;
			}
			
		.ml-auth__token-password
			{
			position: relative;
			}
			
			.ml-auth__token-password-input
				{
				display: block;
				width: 238px;
				height: 50px;
				margin: 42px 0 0 0;
				padding: 0 140px 0 20px;
				color: #FFFFFF;
				font-size: 16px;
				background-color: inherit;
				border: 1px solid #98A4BD;
				border-radius: 5px;
				}
				
			.ml-auth__token-password-show
				{
				position: absolute;
				top: 15px;
				left: 235px;
				height: 20px;
				width: 30px;
				background: url('../../img/icon-auth-show-password.svg') center center no-repeat;
				cursor: pointer;
				}
				
				.m-auth__token-password_visible
					{
					background: url('../../img/icon-auth-hide-password.svg') center center no-repeat;
					}
				
			.ml-auth__token-password-forgot
				{
				position: absolute;
				top: 0;
				right: 0;
				width: 120px;
				height: 50px;
				border-left: 1px solid #98A4BD;
				}
				
				a.ml-auth__token-password-forgot-link
					{
					display: block;
					color: #FFFFFF;
					font-size: 16px;
					line-height: 50px;
					text-align: center;
					cursor: pointer;
					}
					
					.ml-auth__token-password-forgot-link:active,
					.ml-auth__token-password-forgot-link:visited
						{
						color: #FFFFFF;
						}
						
					.ml-auth__token-password-forgot-link:hover
						{
						color: #FFFFFF;
						text-decoration: underline;
						
						}
					
		.ml-auth__token-button
			{
			display: block;
			position: relative;
			width: 100%;
			height: 50px;
			margin: 30px 0 0 0;
			color: #FFFFFF;
			font-size: 18px;
			font-family: 'roboto_bold';
			background-color: #29B473;
			border: none;
			border-bottom: 1px solid #184A45;
			border-radius: 5px;
			text-align: center;
			cursor: pointer;
			}
			
			.ml-auth__token-button:hover
				{
				background-color: #2DC27C;
				}
			
		.ml-auth__token-delimiter
			{
			position: relative;
			width: 100%;
			height: 1px;
			margin: 30px 0 30px 0;
			background-color: #8699BB;
			}
			
		.ml-auth__token-to-login
			{
			display: block;
			position: relative;
			width: 380px;
			height: 50px;
			padding: 0 0 0 20px;
			background-image: url('../../img/icon-auth-to-login.svg');
			background-position: 32px center;
			background-repeat: no-repeat;
			text-align: center;
			border-radius: 5px;
			text-decoration: none;
			}
			
			.ml-auth__token-to-login:hover,
			.ml-auth__token-to-login:focus
				{
				text-decoration: none;
				}
			
			.ml-auth__token-to-login-bg
				{
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: #2D4B80;
				opacity: 0.2;
				border-radius: inherit;
				text-decoration: none;
				}
				
				.ml-auth__token-to-login:hover .ml-auth__token-to-login-bg
					{
					background-color: #27416E;
					}
				
			.ml-auth__token-to-login-text
				{
				position: relative;
				color: #FFFFFF;
				font-size: 18px;
				font-family: 'roboto_bold';
				line-height: 50px;
				text-decoration: none;
				}
				
				.ml-auth__token-to-login-text:hover,
				.ml-auth__token-to-login-text:active,
				.ml-auth__token-to-login-text:visited
					{
					color: #FFFFFF;
					}
					