/*
	.ml-main__content-table + wraps
*/
/*tsvetkov*/
.fixed-table-body {
    /*overflow-x: auto;*/
    /*overflow-y: auto;*/
/*    height: 100%;*/
}

.th-inner.sortable {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 20px;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.fixed-table-loading {
    display: none;
}

.ml-main__content-table th:first-child{
    border-top-left-radius: 4px;
}
.ml-main__content-table th:last-child{
    border-top-left-radius: 4px;
}
/*tsvetkov*/


.ml-main__content-wrap {
    clear: both;
    position: relative;
    margin: 30px 0 0 0;
}

.scrollbar-external {
    overflow: hidden;
}

.ml-main__content-table {
    clear: both;
    display: block;
/*    table-layout: fixed;
    width: 100%;
    *margin-left: -200px;
    padding-left: 199px;*/
}

.scrollbar-external .fixed-table-loading {
    display: none;
}

.table.ml-main__content-table thead {
    min-height: 66px;
}

.table.ml-main__content-table thead tr {
    min-height: 66px;
}

.table.ml-main__content-table tr {
    border: none;
}

.table.ml-main__content-table tbody tr {
    min-height: 76px;
    border-radius: 0 2px 2px 0;
}

.table.ml-main__content-table tr:nth-child(even) {
    background-color: #F1F7FB;
}

.table.ml-main__content-table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.table.ml-main__content-table tbody tr:hover {
    background-color: #D5E7F2;
}

.table.ml-main__content-table td,
.table.ml-main__content-table th {
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 0;
    color: #6F7C9B;
    font-size: 14px;
    line-height: 20px;
    border: none;
    background-color: inherit;
    vertical-align: top;
}

.table.ml-main__content-table td {
    padding-bottom: 8px;
    font-family: 'roboto_regular';
}

.table.ml-main__content-table th {
    padding-bottom: 18px;
    /*min-width: 140px;*/
    font-family: 'roboto_bold';
    background-color: #DCE3F1;
}

.table.ml-main__content-table th:last-child {
    min-width: 480px;
    border-radius: 0 4px 0 0;
}

.table.ml-main__content-table .ml-main__content-table-stationary {
    display: block;
    position: absolute;
    *position: relative; /*ie7*/
    left: 0;
    width: 200px;
    padding-left: 24px;
    color: #3E4A69;
    font-size: 15px;
    background: url('../../img/bg-main-content-table-delimiter.svg') right top repeat-y;
    overflow: hidden;
}

.table.ml-main__content-table th.ml-main__content-table-stationary {
    min-height: 66px;
    background-color: #DCE3F1;
    border-radius: 4px 0 0 0;
}

.table.ml-main__content-table td.ml-main__content-table-stationary {
    /*	min-height: 76px;*/
    background-color: inherit;
    border-radius: 2px 0 0 2px;
}

.table.ml-main__content-table .ml-main__content-table-first {
    min-width: 190px;
    padding-left: 70px;
}

.table.ml-main__content-table .ml-main__content-table-description {
    min-width: 300px;
}

.table.ml-main__content-table .ml-main__content-table-checkbox {

}

.table.ml-main__content-table .ml-main__content-table-checkbox-input {
    display: none;
}

.table.ml-main__content-table .ml-main__content-table-checkbox-input:checked + label.ml-main__content-table-checkbox-label {
    background: url('../../img/icon-main-content-object-check.svg') center center no-repeat;
}

.table.ml-main__content-table .ml-main__content-table-checkbox label {
    display: block;
    height: 15px;
    width: 15px;
    margin: 8px 0 0 0;
    border: 1px solid #97B8CE;
    border-radius: 3px;
    cursor: pointer;
}

.ml-main-content-table-scroll-delimiter {
    height: 8px;
}

/*
	External scrollbar
*/
.external-scroll_x {
    display: none;
    position: absolute;
    background-color: #B8C8E6;
    cursor: pointer;
}

.external-scroll_x.scroll-scrollx_visible {
    display: block;
    height: 10px;
    left: 0;
    top: 56px;
    width: 100%;
}

.external-scroll_x div {
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}

.external-scroll_x .scroll-bar {
    background: #5872B2;
    z-index: 12;
}

/*
	Table sorter
*/

.header {

}

.header .th-inner {
    margin: 0 0 0 -8px;
    padding: 0 22px 0 8px;
    border-radius: 4px;
    cursor: pointer;
}

.ml-main__content-table-stationary.header .th-inner {
    margin-right: 15px;
}

.headerSortDown .th-inner,
.headerSortUp .th-inner {
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: right 8px center;
}

.headerSortDown .th-inner {
    background-image: url('../../img/icon-main-content-table-sortdown.svg');
}

.headerSortUp .th-inner {
    background-image: url('../../img/icon-main-content-table-sortup.svg');
}
