<div class="attr-label-container col-md-offset-<%=attrModel.get('offset')%> col-md-<%=attrModel.get('titleLength')%>">
    <b class="attr-title"><%=attrModel.get('description')%>:</b>
</div>

<div class="select2holder col-md-<%=(attrModel.get('totalLength') - attrModel.get('titleLength') - attrModel.get('offset'))%>">
    <select type="hidden" class="attrField"/>
</div>