<div class="object-list-toolbar">
    <button class="btn btn-primary object-selection-complete">
        <span class="glyphicon <!--glyphicon-plus-->"> Выбрать</span>
    </button>
    <button class="btn btn-primary object-selection-cancel">
        <span class="glyphicon "> Отмена</span>
    </button>
</div>