<style>
    .current-folder-title {
        text-indent: 20px;
    }
</style>
<h4 class="current-folder-title">Выбор объектов <%=listModel.get('ClassDescription')%></h4>
<div class="object-list-container">
</div>
