<link rel="stylesheet" type="text/css" href="/ml-arm/public/css/iconselect.css">

<div class="attr-label-container col-lg-offset-<%=attrModel.get('offset')%> col-lg-<%=attrModel.get('titleLength')%>">
    <b><%=attrModel.get('description')%>:</b>
</div>
<div class="col-lg-<%=(attrModel.get('totalLength') - attrModel.get('titleLength') - attrModel.get('offset'))%>"
     style="padding: 0">
    <div id="icon-select" class="icon-select"></div>
</div>


