<div class="col-md-offset-<%=attrModel.get('offset')%> col-md-<%=attrModel.get('titleLength')%>">
    <b class="attr-title"><%=attrModel.get('description')%>:</b>
</div>

<div class="attrField col-md-<%=(attrModel.get('totalLength') - attrModel.get('titleLength') - attrModel.get('offset'))%>">
    <%if (attrModel.get('value')){%>
    <%=attrModel.get('value').title%>
    <%}%>
</div>