<div class="object-list-toolbar">
    <button class="btn btn-primary object-selection-complete">
        Выбрать
    </button>
    <button class="btn btn-primary object-selection-cancel">
        Отмена
    </button>
</div>